/* Reset CSS */
p, h1, h2, ul, li {
    margin: 0;
    padding: 0;
    color: white;
}


/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    letter-spacing: 1px; /* 调整字体间距 */
    font-size: 20px; /* 调整字体大小 */
    line-height: 1.6;
    overflow-y: scroll;
    position: relative;
    height: 100vh;
    background-color: #000;
}
::-webkit-scrollbar {
    width: 10px; /* 设置滚动条宽度 */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 设置滚动条轨道的背景色 */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* 设置滚动条滑块的背景色 */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 设置鼠标悬停时滚动条滑块的背景色 */
}

header {
    background-color: #000;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
}

footer {
    float: end;
    background-color: #000;
    padding: 20px;
    text-align: center;
}

/* 添加样式以创建50%宽度的框 */
.content-box {
    width: 90%;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 20px;
    background-color: transparent;
}

.center-right-content-box {
    width: 75%;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 20px;
    background-color: transparent;
}

.content-box-left {
    width: 50%;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 20px;
    background-color: transparent;
}

.left-image {
    width: 10%;
    float: left;
    margin-right: 2px;
}

.right-image {
    width: 10%;
    float: right;
    margin-left: 2px;
}

.image {
    width: 40%;
}

/* 雪花效果 */

.snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    color: lightblue;
    font-size: 2rem;
    pointer-events: none;
    animation: snowfall linear infinite;
    background-color: transparent; /* 添加此样式规则 */
}


.snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    color: lightblue;
    font-size: 2rem;
    pointer-events: none;
    animation: snowfall linear infinite;
}

.vertical {
    animation-name: snowfall-vertical;
}

.diagonal {
    animation-name: snowfall-diagonal;
}

@keyframes snowfall-vertical {
    0% {
        transform: translateY(-10vh) scale(1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) scale(0.2);
        opacity: 0;
    }
}

@keyframes snowfall-diagonal {
    0% {
        transform: translateY(-10vh) scale(1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) scale(0.2);
        opacity: 0;
    }
}

/*适配手机*/
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
